//Шрифты
$font-900: 900;
$font-700: 700;
$font-400: 400;
$font-300: 300;

//Цвета
$generalColor: #f16d7f;
$generalLightColor: #ffffff;
$generalBackgroundColor: #222222;

//Плавность
$transition: all 0.3s ease;

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

@mixin flex-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

@mixin flex-center-between {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    background-size: 100%;
}

summary {
    display: block;
}
summary::-webkit-details-marker {
    display: none;
}

body {
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    background: $generalLightColor;
    overflow-x: hidden;
}

img {
    display: block;
    max-width: 100%;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.top__container {
    width: 100%;
    margin: 0 auto;
}

.head__navbar {
    background-color: $generalBackgroundColor;
    height: 75px;
    display: flex;
    justify-content: space-between;

    & button {
        background-color: $generalBackgroundColor;
        border: none;
    }
}

/* hamburger */
#menu__toggle {
    opacity: 0;
}
#menu__toggle:checked~.menu__box {
    right: 0 !important;
}

.menu__btn {
    padding-right: 25px;
    &>span,
    &>span::before,
    &>span::after {
        display: block;
        position: absolute;
        width: 32px;
        height: 3px;
        background-color: #e8e8e8;
        transition-duration: 0.25s;
    }
    &>span {
        margin-top: -5px;
        padding-right: 10px;
    }
    &>span::before {
        content: "";
        top: -10px;
    }
    &>span::after {
        content: "";
        top: 10px;
    }
}

.menu__box {
    display: flex;
    position: absolute;
    flex-direction: column;
    top: 75px;
    right: -200%;
    width: 232px;
    height: 634px;
    margin: 0;
    padding-top: 32px;
    padding-left: 33px;
    list-style: none;
    background-color: $generalLightColor;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    transition-duration: 0.25s;
    z-index: 10;
    & h2 {
        font-family: "Lato";
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
    }

    & h3 {
        font-family: "Lato";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: $generalColor;
        padding-top: 20px;
    }
}

.menu__item {
    display: block;
    padding-left: 20px;
    padding-top: 12px;
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #6f6e6e;
    transition-duration: 0.25s;
}
/* end hamburger */

.center {
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
}

.header-link {
    background: $generalBackgroundColor;
    background-size: 100%;
    padding-top: 18px;
    padding-bottom: 19px;
    @include flex-center-between;
}

.left-nav {
    gap: 40px;
    @include flex-center;
}

.serch:hover path,
.burger:hover path,
.user:hover path,
.shop:hover path {
    fill: $generalColor;
    transition: $transition;
}

.right-nav {
    gap: 33px;
    @include flex-center;
}
a {
    text-decoration: none;
    color: #636363;
}
.header{
    background: #f1e4e6;
    background-size: 100%;
    position: relative;
    @include flex-center-between;
    font-family: "Lato";
    font-style: normal;
}

.title {
    color: $generalColor;
    font-size: 24px;
    padding: 60px 0;
    font-family: "Lato";
    font-style: normal;
}

.nav-link {
    color: #636363;
    font-size: 14px;
    font-weight: $font-300;
    list-style: none;
    display: inline;
    & li {
            display: inline;
        }
}

.link::after {
    content: "/\00a0";
    padding-left: 15px;
    padding-right: 10px;
}

.nav-link :last-child .link::after {
    content: none;
}

.link:hover {
    color: $generalColor;
    transition: $transition;
}
.logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 111px;
    padding-top: 18px;
    padding-bottom: 19px;
    margin-left: 231px;
}

.head__buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 159px;
    margin-right: 240px;
    padding-top: 26px;
    padding-bottom: 20px;
    &__title {
            background-color: #f1e4e6;
            display: flex;
            flex-direction: row;
            justify-content: center;
            height: 764px;
        }
}

.image {
    min-width: 801px;
}

.right__side__head {
    display: flex;
    flex-direction: row;
    margin-left: 63px;
    margin-top: 290px;
    margin-bottom: 381px;
    margin-right: 331px;
    width: 405px;
    height: 93px;
}

.rectangle {
    background-color: $generalColor;
    width: 12px;
    height: 92px;
    margin-right: 16px;
}

.text {
    font-family: "Lato";
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 1;
    color: $generalBackgroundColor;
}

span.h2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
}

span.h2pink {
    color: $generalColor;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(33, 22, 22, 0.7);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    & h3 {
        font-family: "Lato";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        color: $generalLightColor;
    }
    & h2 {
        font-family: "Lato";
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        text-align: center;
        color: $generalColor;
    }
}

.filter-sort {
    height: 132px;
    padding-top: 39px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    gap: 50px;
}

.filter {
    padding-top: 13px;
    width: 360px;
    position: relative;
    box-sizing: border-box;
    z-index: 10;
    font-family: "Lato";
    font-style: normal;

    &_content {
        background-color: #ffffff;
        padding: 0 16px 16px 16px;
    }
    &[open] {
        background: #ffffff;
        box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    }
    &[open] .filter_heading{
        color: $generalColor;
    }
    &[open] path {
        fill: $generalColor;
    }
    &_summary {
        display: flex;
        align-items: center;
        gap: 11px;
        padding-left: 16px;
    }
    &_heading {
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
    }
    &_item {
        margin-top: 16px;
    }
    &_head {
        font-style: normal;
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        color: #6F6E6E;
        padding: 8px 11px 11px 11px;
        border-bottom: 1px solid #ebebeb;
        border-left: 5px solid $generalColor;
    }
    &_item[open] .filter_head {
        color: $generalColor;
    }
    &_link_box {
        display: flex;
        flex-direction: column;
        gap: 11px;
        padding: 24px 16px;
    }
    &_link {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #6F6E6E;
        &:hover {
            color: $generalColor;
        }
    }
}

.sort {
    padding-top: 12px;
    display: flex;
    gap: 18px;
    z-index: 10;
    font-family: "Lato";
    font-style: normal;

    &_details {
        position: relative;
    }
    &_summary{
        display: flex;
        align-items: center;
        gap: 10px;
    }
    &_heading {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #6F6E6E;
    }
    &_box {
        display: flex;
        flex-direction: column;
        gap: 8px;
        background: #ffffff;
        box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
        padding: 7px 30px 11px 9px;
        position: absolute;
        left: 9px;
        top: 22px;
    }
    &_check {
        display: flex;
        gap: 9px;
        align-items: center;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #6F6E6E;
    }
}

.main__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    & h3 {
        font-family: "Lato";
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 36px;
        color: $generalBackgroundColor;
    }
    & p {
        font-family: "Lato";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #9f9f9f;
        margin-top: 6px;
    }
}

.setting-menu {
    font-size: 14px;
    color: #6f6e6e;
    @include flex-center;
    gap: 42px;
    margin-bottom: 49px;
}

.arrow-bottom {
    display: flex;
    gap: 9px;
    align-items: flex-end;

    & path {
        fill: #6f6e6e;
    }
}

.arrow-bottom:hover {
    & path {
        fill: $generalColor;
        transition: $transition;
    }
}

.all__cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 30px;
}

.product__card {
    display: flex;
    flex-direction: column;
}

.prod__image_cont:hover {
    & .product-img {
        filter: brightness(40%);
    }

    & .add-cart {
        position: absolute;
        display: flex;
    }
}
.prod__image_cont {
    position: relative;

    &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0);
    }

    &:hover::before {
        background: rgba(58, 56, 56, 0.86);
    }

    & img {
        display: block;
    }

    & .btn {
        width: 138px;
        height: 43px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        opacity: 0;
        background: none;
        border: 1px solid $generalLightColor;
        font-family: "Lato";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: $generalLightColor;
    }

    &:hover button {
        opacity: 1;
    }
}

/*----*/
.card__text {
    background-color: #f8f8f8;
    padding-left: 16px;
    padding-right: 29px;

    & h3 {
        padding-top: 24px;
        font-family: "Lato";
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
        color: #000000;
    }

    & p {
        margin-top: 12.6px;
        font-family: "Lato";
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #5d5d5d;
    }

    & h4 {
        margin-top: 18px;
        padding-bottom: 20px;
        font-family: "Lato";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: $generalColor;
    }
}
.page {
    padding-top: 48px;
    padding-bottom: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;;
    &__numbers {
        width: fit-content;
        padding: 12px 15px;
        text-align: center;
        border: 1px solid #ebebeb;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;;
        gap: 17px;
        font-size: 16px;
        font-weight: $font-300;
    }
    &__number {
        color: #c4c4c4;
    }
    &__number:hover {
        color: $generalColor;
        transition: $transition;
    }
    &__arrow:hover path {
        fill: $generalColor;
        transition: $transition;
    }
}

.all__prod__button {
    margin-top: 48.5px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.all__prod__button button {
    width: 211px;
    height: 47px;
    border: 1px solid #ff6a6a;
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #f26376;
    background: none;
}

.all__prod__button button:hover {
    color: $generalLightColor;
    background: $generalColor;
}

.main__bottom {
    margin: 0 auto;
    align-items: center;
}

.footer__info {
    height: 341px;
    width: 100%;
    margin: auto;
    background: #222224;
    margin-top: 95px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;

    &__card {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 103px;
        width: 360px;
        height: 133px;
        justify-content: space-between;
    }

    &__card h2 {
        font-family: "Lato";
        font-style: normal;
        font-weight: 400;
        font-size: 19.96px;
        line-height: 24px;
        color: #FBFBFB;
    }

    &__card p {
        font-family: "Lato";
        font-style: normal;
        font-weight: 300;
        font-size: 13.972px;
        line-height: 17px;
        text-align: center;
        color: #FBFBFB;
    }
}

.footer__subscribe {
    height: 448px;
    background-image: url(./img/footer\ font.png);
    background-repeat: no-repeat;
    background-position: center;

    &__info {
        width: 360px;
        height: 225px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    &__info p {
        font-family: "Lato";
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        color: #222224;
        height: 99px;
    }
}

.footer__blur {
    background: rgba(244, 244, 244, 0.7);
    height: 448px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 223px;
}

.footer__subsc_subsc {
    width: 557px;
    height: 142px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    &__text {
        text-align: center;
    }

    &__text h2 {
        font-family: "Lato";
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 40px;
        color: #222224;
    }

    &__text p {
        font-family: "Lato";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        color: #222224;
    }
}


.footer__subsc__form__btn form {
    width: 356px;
    height: 49px;
    display: flex;
    justify-content: center;
}

.footer__subsc__form__btn input {
    width: 256px;
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: #222224;
    opacity: 0.67;
    background: #E1E1E1;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    padding-left: 22px;
    border: none;
}

.footer__subsc__form__btn button {
    width: 100px;
    height: 49px;
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: $generalLightColor;
    background: $generalColor;
    cursor: pointer;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    vertical-align: middle;
    padding-left: 15px;
    border: none;
}

.footer__navbar {
    height: 79px;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    background: #222224;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    & p {
        font-family: "Lato";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #FBFBFB;
        margin-left: 235px;
    }

    &__icons {
        width: 148px;
        height: 32px;
        display: flex;
        justify-content: space-between;
        margin-right: 230px;
    }

    &__icons a {
        display: flex;
        font-size: 20px;
        align-items: center;
        justify-content: center;
    }
}

.fa {
    width: 31px;
    height: 32px;
    background: $generalLightColor;
    color: #000000;

    &:hover {
        background: $generalColor;
        color: $generalLightColor;
    }
}



@media (max-width: 1024px) {

    html,
        body {
            max-width: 100%;
            overflow-x: hidden;
        }

    .container {
        width: 736px;
    }

    .top__container {
        background-size: 100%;
    }

    .logo {
        margin-left: 32px;
    }

    .head__buttons {
        margin-right: 32px;
    }

    .head__title {
        height: 368px;
    }

    .title {
        margin-left: 32px;
    }

    .product-link {
        padding-right: 32px;
    }

    .top__cards {
        height: 303px;
        gap: 20px;
    }

    .filter-sort {
        height: auto;
    }

    .all__cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 16px;
        margin-top: 72px;
    }

    .all__prod__button {
        margin-top: 33px;
        margin-bottom: 65px;
    }

    .footer__info {
        height: 610px;
        margin-top: 65px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 48px;
    }

    .footer__info__card {
        margin: 0 auto;
    }

    .footer__subscribe {
        height: 693px;
        background-size: 300%;
        background-position: left;
    }

    .footer__blur {
        background-size: 100%;
        height: 693px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 48px;
    }

    .footer__navbar {
        width: 100%;
    }

    .footer__navbar p {
        margin-left: 32px;
    }

    .footer__navbar__icons {
        margin-right: 23px;
    }
}